<div class="w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24">
    <form
      *ngIf="!isCodeVerified"
      (ngSubmit)="onEmailVerificationClick()"
      [formGroup]="passwordResetForm"
      class="mx-auto mb-0 mt-8 max-w-md space-y-4"
    >
      <div *ngIf="!verificationCode">
        <div class="relative">
          <p class="text-gray-500">Please enter your email to get started</p>
          <input
            type="email"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-lg"
            placeholder="Enter email"
            formControlName="email"
          />
        </div>
      </div>
  
      <div class="flex items-center justify-between" *ngIf="!verificationCode">
        <button
          type="submit"
          class="inline-block rounded-lg bg-teal-500 px-5 py-3 text-sm font-medium text-white"
        >
          Verify
        </button>
      </div>
  
      <div *ngIf="verificationCode">
        <div class="relative">
          <p class="text-gray-500">Enter the verification code sent to your email</p>
          <input
            type="text"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-lg"
            placeholder="Enter verification code"
            formControlName="verificationCodeInput"
          />
        </div>
      </div>
  
      <div class="flex items-center justify-between" *ngIf="verificationCode">
        <button
          type="button"
          class="inline-block rounded-lg bg-teal-500 px-5 py-3 text-sm font-medium text-white"
          (click)="onVerificationCodeSubmit()"
        >
          Submit Code
        </button>
      </div>
    </form>
  
    <!-- Reset Password Form -->
    <form
      *ngIf="isCodeVerified"
      (ngSubmit)="onPasswordResetSubmit()"
      [formGroup]="passwordResetForm"
      class="mx-auto mb-0 mt-8 max-w-md space-y-4"
    >
      <div class="relative">
        <p class="text-gray-500">Enter your new password</p>
        <input
          type="password"
          class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-lg"
          placeholder="New password"
          formControlName="newPassword"
        />
      </div>
  
      <div class="relative">
        <p class="text-gray-500">Confirm your new password</p>
        <input
          type="password"
          class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-lg"
          placeholder="Confirm new password"
          formControlName="confirmPassword"
        />
      </div>
  
      <div class="flex items-center justify-between">
        <button
          type="submit"
          class="inline-block rounded-lg bg-teal-500 px-5 py-3 text-sm font-medium text-white"
        >
          Reset Password
        </button>
      </div>
    </form>
  </div>
  